@model IEnumerable<Assignment1.Models.Tbl_Courses>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses List</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-success" })
</p>
<table class="table table-responsive table-bordered table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-success" })  |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary" })  |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID },new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
